# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb
# Use markdownlint
*.md
# NGINX & Docker
/conf/
Dockerfile
.svelte-kit/
/build/
quill.*.css
coverage/

# Using dprint
**/*.ts
**/*.js
**/*.json
