@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	html {
		overscroll-behavior: none;
		scroll-behavior: smooth;
	}
	body {
		margin: 0;
		overscroll-behavior: none;
	}
	button,
	input,
	textarea,
	select {
		font: inherit;
	}
	img,
	svg {
		display: block;
		max-width: 100%;
	}
	a {
		color: inherit;
	}
}
